body
{
  background: -webkit-linear-gradient(top, rgb(42, 1, 61), rgb(71, 7, 7), rgb(63, 3, 50));
   opacity: 0.8;
   filter: brightness(opacity=60);
   overflow-x: hidden;
   background-size: cover;
   width: 99%;
   height: auto;

 }

.bg-gradient{
   border-radius: 40px;
   margin: 10px;
   background: rgb(2,0,36) !important;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%) !important;
       
  color: blanchedalmond !important;
  
  }
  .active {
   background-color: #1b6405;
   border-radius: 10px;
 }
  li a{
     color:blanchedalmond !important;
  }
  
  h1 {
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(221, 91, 5), rgb(202, 100, 4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .drop
  {
      background: rgb(2,0,36) !important;
    background: linear-gradient(90deg, rgb(8, 129, 62) 0%, rgb(112, 9, 121) 35%, rgb(44, 2, 92) 100%) !important;
       
  }
  .personl{
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
  }
  
  .personl:hover {
    color: #1e2125;
    background-color: #060707 ;
  }

  .card
  {
    width: 98% !important;
    height: 620px !important;
    margin: 10px !important;
    background: linear-gradient(top , blue, yellow) !important;
  }
  .card_2
  {
    float: left;
    margin-left: 0px;
  }
  .heder
  {
    text-align: center !important;
    margin-left: 20px;
    float: left !important;
    text-decoration: none;
    list-style: none;
    list-style-position: outside;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: #056464;
  }
  .boda
  {
    width: 98%;
    height: 500px;
    margin: 5px 4px 5px 11px !important;
    word-wrap: break-word;
    background-color: rgb(19, 0, 6);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 5px;
    color: rgb(241, 235, 235);
    text-align: center !important;
  }
  .row_form
  {
    text-align: left !important;
  }
  p
  {
      text-align: justify;
      text-indent: 0px;
      letter-spacing: 0px;
      font-family: sans-serif;
  }
  .picha_1
  {
      background-image: url(picha/kelvin_pic\ \(7\).jpeg) !important;
      background-size: cover;
      opacity: 100px;
      clear: both;
      transform-origin: center;
      text-align: center;
      color: rgba(252, 249, 246, 0.9);
  }
 /* .img-thumbnail
  {
       /* width: 230px !important;
       height: 250px !important;
       margin-top: -180px !important;
       margin-left: 20px !important;
       border-radius: 20px !important; */

  .text-muted 
  {
    color: rgb(248, 246, 246) !important;
  }
  .card-text
  {
     padding: 0px !important;
     margin-top: 20px;
  }
  aside
  {
    float: right;
    width: 100px;
    height: 100px;
    display: block;
    background-color: burlywood;
    margin: -130px 10px 0px 0px ;
  }
  .p_1
  {
    padding: 10px 5px 5px  20px;
    text-align: justify;
  }
  .form_1
  {
    height: 530px !important;
  }